.accordion {
   border: 1px solid #d0d0d0;
   margin-top:20px;
}
.accordion-section {
cursor:default;
}
.accordion-section > h3 {
    padding: 8px;
    font-size: 16px;
    margin: 0;
    border:1px solid #ccc;
    font-weight: 500;
}
.accordion-section > .body {
    height: 0;
    padding: 0 10px;
    overflow-y: hidden;
    transition: height .5s;
    transition: height .5s, padding-top .5s, padding-bottom .5s;
}
.accordion-section.selected > .body {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
}

.accordion-section .sec a:before {
    content: '\f078';
}
.accordion-section .sec{
position: relative;
border: 1px solid #d0d0d0;

}
.pe-singleupload--wrapper ul.pe-input.pe-error-text {
    list-style: none;
    padding: 0px;
    float: left;
    margin: 10px 0px 0px 20px;
}
.pe-singleupload--wrapper input[type="text"] {
    width: calc(66.66% - 15px);
    float:left;
}
.accordion-section.selected .sec{
    border-top: 0px;
}
ul.pe-input.pe-error-text {
    list-style: none;
    /* padding: 0px; */
}
.accordion-section .sec a {
    padding: 10px;
    display: block;
    color: #565656;
    text-decoration: none;
    padding-left: 40px;
}
.accordion-section .sec a:before {
    font-family: 'pearson-fa';
    content: '\f058';
    position: absolute;
    background: #107aca;
    color: #ffffff;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    text-align: center;
    line-height: 43px;
}
.accordion-section.selected .sec a:before{
    content: '\f078';
}
/*Team CSS*/
.pe-formats-link{
  margin-bottom:1em;
}
.pe-input .pe-choose-file {
    border: none;
    padding: 0px;
    height:auto;
}
.__react_component_tooltip.place-right span {
    display: block;
}
.pe-formats-link .__react_component_tooltip.place-right {
    margin-left:100px;
    border: solid 1px #d0d0d0;
    border-radius:6px;
}
.pe-formats-link .__react_component_tooltip.type-light.place-right:after {
    border-right-color: #d0d0d0;
    border-right-style: solid;
    border-right-width:10px;
    left: -10px;
}
.pe-singleupload--wrapper .pe-buttonbar.pe-clear{
  text-align:right;
  clear:both;
}
.pe-formats-link .__react_component_tooltip{
    padding: 5px 8px;
}

.pe-singleupload--wrapper .pe-buttonbar.pe-clear{
  text-align:right;
  clear:both;
}

.pe-singleupload--wrapper .pe-tooltip--wrapper p{
     font-size:12px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pe-singleupload--wrapper input[type="file"]{
    width:auto;
    float:left;
 }
 .pe-singleupload--wrapper .col-full {
    width: 100%;
    margin: 15px 0px;
}


.pe-uploadfor--text{
font-family: helvetica;
font-size: 16px;
}

.pe-jobstatus{
float:right;
}


.pe-singleupload--wrapper{
    padding:5px;
}
.pe-singleupload--wrapper .pe-input.text {
   clear: both;
}


.upload-status .pe-jobstatus-link{
 margin-top: 25px;
}
.upload-status h2 {
margin-bottom: 25px;
}


.pe-jobstatus-page .row .col-3 {
    padding: 10px 0px;
}
.pe-jobstatus-page .sub-rows .col-3 {
    padding: 12px 0px;
    line-height: normal;
}

.pe-jobstatus-page .sub-rows .col-3:nth-child(4) span {
    text-decoration: underline;
    color: #0d65a6;
}
.fa-check-circle:before {
    content: "\f058";
}
.fa-check-circle {
    color: #076826;
    margin-right: 5px;
}

.fa-times-circle{
    color: #d0021b;
    margin-right: 5px;
}
.pe-uploadasset .react-tabs .ReactTabs__Tab--selected{
border-left:0px;
border-right:0px;
}
