* {
    box-sizing: border-box;
}
.header {
    border: 1px solid #d0d0d0;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.pe-jobstatus-page .row {
    border-bottom: 1px solid #d0d0d0;
}

[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;
        padding-left: 3%}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-13 {
    width: 25%;
    padding-left: 0px;
    border-bottom:1px solid #d0d0d0;
}
.img{
    float: left;
}
.clabel{
    border-bottom: 1px solid #d0d0d0;
    overflow: hidden;
    padding-bottom: 12px;
}
.clabel1{
    float: left;
    text-decoration: underline;
}
.clabel2{
     text-decoration: underline;
     float: right;
}
.clabel3{
    padding-top: 1%;
    clear:both;
}
.clabelOrg {
float: left;

}
.clabel1 .clabelOrg{
   font-weight:bold;
}
.parentImg{
    float: left;
}
.children{
    margin-left: 24px;

}
.appDiv{
    margin:5%;
}
.pe-jobstatus-page{
overflow:hidden;
}

.pe-jobstatus-page .col-3:nth-child(1) {
    width: 57%;
    margin-right:1%;
}
.pe-jobstatus-page .col-3:nth-child(1) .fileName{
    word-wrap: break-word;
    display: block;
    cursor: text;
}
.pe-jobstatus-page .col-3:nth-child(2) {
    width: 5%;
}
.pe-jobstatus-page .col-3:nth-child(3) {
    width: 25%;
}
.pe-jobstatus-page .col-3:nth-child(4) {
    width: 10%;
    float: right;
    /* text-align: right; */
    margin-right: 1%;
}

.ReactTabs__TabPanel.uploadAssets .pe-jobstatus-link {
    margin: 20px 0px;
}



.ajaxloader
{	
	width: 18px;
    height: 18px;
	
	margin: 0 0 0 -15px;
	border: 3px solid #a5b9c2;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}



@-webkit-keyframes spin
{
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(180deg); opacity: 1; }
	to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
	from { -moz-transform: rotate(0deg); opacity: 0.4; }
	50%  { -moz-transform: rotate(180deg); opacity: 1; }
	to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
	from { -ms-transform: rotate(0deg); opacity: 0.4; }
	50%  { -ms-transform: rotate(180deg); opacity: 1; }
	to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
	from { -o-transform: rotate(0deg); opacity: 0.4; }
	50%  { -o-transform: rotate(180deg); opacity: 1; }
	to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
	from { transform: rotate(0deg); opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}

