.row-inner {
    width: 100%;
    display: block;
    border-bottom: 1px solid #d0d0d0;
    overflow: hidden;
}
.col-14 {
    float: left;
    width: 50%;
    padding: 8px;
}
.col-15 {
    float: right;
    display: block;
    width: 50%;
    padding: 8px;
}

/* Custom search tab - ramesh */
.saveSearchIconDiv{
    padding-top: 9px;
    text-align: right;
}

.LabelBold{
    font-weight:bold;
}

.LabelHead{
    font-weight: bold;
    color:#666666;
}

.search-result-box .pe-tooltip{
    width:168px!important;
}

.savedSearchBar button{
    margin-left:10px;
}