.TreeNode {
            background: #fafafa;
            margin: 1rem;
            padding: 1rem;
            display: inline-block;
            border: 1px solid #ccc;
        }

        .Node {
            margin: 0 1rem;
            font-size: 17px;
        }

        .toggle {
            cursor: pointer;
        }
        .toggle:hover {
            text-decoration: underline;
        }

        .expand::after,
        .collapse::after {
            color: #333;
            font-size: .5rem;
            margin-left: 0.5rem;
            display: inline-block;
        }      
        .img{
            float:left;
        }
        .ScrollStyle
                {
                    max-height: 300px;
                    overflow-y: scroll;

                }

